<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <!-- ==========================  Component Interaction  -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          routerLink="comp-interaction"
          role="button"
          data-bs-toggle="dropdown"
        >
          Interaction
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/comp-interaction/child"
              >Child</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="/comp-interaction/parent"
              >Parent</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="/comp-interaction/sibiling-1"
              >sibiling-1</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="/comp-interaction/sibiling-2"
              >sibiling-2</a
            >
          </li>
        </ul>
        <!-- ========================== END Component Interaction ====================== -->
      </li>

      <!-- ============================ Data Binding ======================== -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          routerLink="data-binding"
          role="button"
          data-bs-toggle="dropdown"
          >Data-Binding
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/data-binding/binding"
              >Binding</a
            >
          </li>
        </ul>
      </li>

      <!-- ========================== Forms ==================== -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          routerLink="forms"
          role="button"
          data-bs-toggle="dropdown"
          >Forms
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/forms/templateForm"
              >TemplateForm</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="/forms/reactiveForm"
              >ReactiveForm</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
